body {
    background: linear-gradient(135deg, #3a7bd5, #00d2ff);
    font-family: Arial, sans-serif;
    color: black;
}

.container {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 20px;
}

.player-box {
    text-align: center;
}

.player-box img {
    width: 200px;
    height: 240px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    display: block;
    margin-bottom: 10px;
}

.player-box a {
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    background: rgba(0,0,0,0.6);
    padding: 8px 12px;
    border-radius: 6px;
    display: inline-block;
}

.player-box a:hover {
    background: rgba(0,0,0,0.8);
}

/* ak chceš aby p vyzeralo ako mená */
.player-text {
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: rgba(0,0,0,0.6);
    padding: 8px 12px;
    border-radius: 6px;
    width: fit-content;
    margin-bottom: 10px;
}

.player-text:hover {
    background: rgba(0,0,0,0.8);
}
